body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}

html,
body {
    height: 100%;
}

/* ---------------------Section1----------------------- */
.logo-gama {
    width: 70px;
    margin-top: 15px;
    margin-left: 120px;
}

.nav-desktop {
    z-index: 2;
}

.nav-desktop a {
    display: inline-block;
    color: #707070;
    float: right;
    margin-top: 10px;
}

.section1kiri {
    position: relative;
    z-index: 9;
    background: #5CC4E7;
    width: 100%;
}

.section1kiri:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 37%;
    bottom: 0;
    left: 0;
    background: #F4F8F7;
}

.section1 {
    display: flex;
    min-height: 100%;
}

.container-a {
    position: relative;
    z-index: 3;
    margin-top: -50px;
}

.divgambar {
    width: 700px;
    height: 450px;
    margin-top: 100px;
    border: 5px solid #F8C470;
    position: relative;
    z-index: 5;
}

.divgambar .gambarsection1 {
    width: 600px;
    height: 400px;
}

.divgambar .wadahgambarsection1 {
    width: 600px;
    margin-left: 50px;
}

.section1h1 {
    font-size: 55px;
}

.section1p1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
}

.section1p2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    float: right;
    margin-right: 20px;
}

.divtulisan {
    margin-left: 280px;
    width: 311px;
    margin-top: -300px;
    position: absolute;
    z-index: 6;
}

.section1baten {
    background-color: transparent;
    width: 110px;
    height: 35px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 16px;
    color: #707070;
    border: 2px solid #F8C470;
    float: right;
}

.bungkussection1baten {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.section1batenkanan {
    margin-right: 70px;
}

.downdirection {
    float: right;
    width: 40px;
    margin-right: 80px;
}

/* ---------------------End Section1----------------------- */



/* ---------------------End Section3----------------------- */
.section3 {
    display: flex;
    height: 780px;
}

.section3kiri {
    position: relative;
    z-index: 9;
    background: #5CC4E7;
    width: 100%;
}

.section3kiri:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 37%;
    bottom: 0;
    left: 0;
    background: #F4F8F7;
}


.kotakkuning {
    width: 90%;
    height: 80%;
    border: 5px solid #F8C470;
    position: relative;
    z-index: 5;
    margin-top: 2%;
}

.section3col6kanan {
    top: 50%;
    bottom: 50%;
}

.section3h4 {
    margin-top: 200px;
}

.section3card {
    width: 13rem;
    height: 15rem;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.section3wadahcardimg {
    width: 100px;
    height: 100px;
    background-color: #C7EFF8;
    margin-top: 20%;
}

/* ---------------------End Section3----------------------- */




/* ---------------------Section4----------------------- */
.section4 {
    display: flex;
    height: 590px;
    background-color: #E6F8FE;
}

.tgl {
    margin-bottom: -30px;
}

.arrow {
    float: right;
    margin-top: 8px;
}

.section4showall {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin-top: 30px;
    color: #707070;
}

.section4card {
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

/* ---------------------End Section4----------------------- */



/* ---------------------Section5----------------------- */
.section5 {
    display: flex;
    height: 500px;
}

.section5kiri {
    position: relative;
    z-index: 9;
    background: #5CC4E7;
    width: 100%;
}

.section5kiri:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 37%;
    bottom: 0;
    left: 0;
    background: #F4F8F7;
}

.section5h5 {
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.section5chevronleft {
    float: left;
    margin-top: 100%;
}

.section5chevronright {
    float: right;
    margin-top: 100%;
}

.section5card {
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
}

.section5fotomuka {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border: 0.5px solid #707070;
    background-color: #F4F8F7;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.section5nama {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}

.section5program {
    text-align: center;
    font-size: 15px;
}

.section5kesan {
    font-size: 14px;
    font-style: italic;
}

/* ---------------------End Section5----------------------- */



/* ---------------------Section6----------------------- */
.section6 {
    display: flex;
    height: 1100px;
    background-color: #E6F8FE;
}

.section6container {
    margin-top: 50px;
}

.section6h1 {
    margin-top: 20%;
    font-size: 70px;
    font-weight: bold;
}

.section6button {
    border-radius: 30px;
    padding: 5px 25px 5px 25px;
    margin-left: 150px;
}

.section6temukan {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.section6maps {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

/* ---------------------End Section6----------------------- */




footer {
    width: 100%;
    background-color: #5CC4E7;
}

footer h4 {
    margin-top: 50px;
    color: white;
}

footer h5 {
    margin-top: 30px;
    color: white;
}

.baten-footer {
    background-color: transparent;
    width: 100px;
    height: 35px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 16px;
    color: white;
    border: 1.5px solid white;
}

.baten-footer2 {
    background-color: transparent;
    width: auto;
    height: 45px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 20px;
    color: white;
    border: 1.5px solid white;
    padding: 5px 12px 5px 12px;
}

.image-footer {
    /* Center and scale the image nicely */
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    opacity: 0.5;
}

footer hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

footer .sosialmedia {
    width: 215px;
    margin-top: 15px;
}

footer .copyright {
    width: 162px;
    margin-top: 30px;
    padding-bottom: 40px;
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1921px) {

    /* ---------------------Section1----------------------- */
    .divtulisan {
        margin-left: 650px;
        width: 311px;
        margin-top: -300px;
        position: absolute;
        z-index: 6;
    }

    /* ---------------------End Section1----------------------- */

    .logo-mobile {
        width: 80px;
        height: 57px;
        position: absolute;
        margin-left: 400px;
    }

    .image-footer {
        /* Center and scale the image nicely */
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 600px;
        opacity: 0.5;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {

    .logo-mobile {
        width: 70px;
        height: 50px;
        position: absolute;
        margin-left: 130px;
    }
}


@media (min-width: 992px) and (max-width: 1024px) {

    /* ---------------------Section1----------------------- */
    .logo-gama {
        width: 60px;
        margin-top: 15px;
        margin-left: 75px;
    }

    .nav-desktop {
        z-index: 2;
    }

    .nav-desktop a {
        display: inline-block;
        color: #707070;
        float: right;
        margin-top: 10px;
        margin-right: 22px;
    }

    .section1kiri {
        position: relative;
        z-index: 9;
        background: #5CC4E7;
        width: 100%;
    }

    .section1kiri:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 37%;
        bottom: 0;
        left: 0;
        background: #F4F8F7;
    }

    .container-a {
        position: relative;
        z-index: 3;
        margin-top: -50px;
    }

    .divgambar {
        width: 500px;
        height: 300px;
        margin-top: 100px;
        border: 5px solid #F8C470;
        position: relative;
        z-index: 5;
    }

    .divgambar .gambarsection1 {
        width: 400px;
        height: 280px;
    }

    .divgambar .wadahgambarsection1 {
        width: 450px;
    }

    .divtulisan {
        margin-left: 150px;
        width: 230px;
        margin-top: -200px;
        position: absolute;
        z-index: 6;
    }

    .section1h1 {
        font-size: 40px;
    }

    .section1p1 {
        font-size: 21px;
        font-weight: bold;
        margin-top: -15px;
    }

    .section1p2 {
        font-size: 21px;
        font-weight: bold;
        margin-top: -15px;
        float: right;
        margin-right: 20px;
    }

    .bungkussection1baten {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .section1batenkanan {
        margin-right: 70px;
    }

    .downdirection {
        float: right;
        width: 40px;
        margin-right: 80px;
        margin-top: 100px;
    }

    /* ---------------------End Section1----------------------- */

    .logo-mobile {
        width: 60px;
        height: 45px;
        margin-left: 40px;
        margin-top: -50px;
    }

    .image-footer {
        /* Center and scale the image nicely */
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 260px;
        opacity: 0.5;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {

    /* ---------------------Section1----------------------- */
    .logo-gama {
        width: 60px;
        margin-top: 15px;
        margin-left: 75px;
    }

    .nav-desktop {
        z-index: 2;
    }

    .nav-desktop a {
        display: inline-block;
        color: #707070;
        float: right;
        margin-top: 10px;
        margin-right: 22px;
    }

    .section1kiri {
        position: relative;
        z-index: 9;
        background: #5CC4E7;
        width: 100%;
    }

    .section1kiri:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 37%;
        bottom: 0;
        left: 0;
        background: #F4F8F7;
    }

    .container-a {
        position: relative;
        z-index: 3;
        margin-top: -50px;
    }

    .divgambar {
        width: 400px;
        height: 300px;
        margin-top: 100px;
        border: 5px solid #F8C470;
        position: relative;
        z-index: 5;
        margin-left: 20px;
    }

    .divgambar .wadahgambarsection1 {
        width: 350px;
    }

    .divgambar .gambarsection1 {
        width: 300px;
        height: 280px;
    }

    .divtulisan {
        margin-left: 150px;
        width: 200px;
        margin-top: -200px;
        position: absolute;
        z-index: 6;
    }

    .section1h1 {
        font-size: 30px;
    }

    .section1p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
    }

    .section1p2 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
        float: right;
        margin-right: 20px;
    }

    .bungkussection1baten {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .section1baten {
        background-color: transparent;
        width: 80px;
        height: 30px;
        text-align: center;
        margin: 4px 2px;
        border-radius: 16px;
        color: #707070;
        border: 1.5px solid #F8C470;
        float: right;
        font-size: 10px;
    }

    .section1batenkanan {
        margin-right: 30px;
    }

    .downdirection {
        float: right;
        width: 30px;
        margin-right: 50px;
        margin-top: 20px;
    }

    /* ---------------------End Section1----------------------- */
    .logo-gama {
        margin-left: 40px;
    }

    .logo-mobile {
        width: 60px;
        height: 45px;
        margin-left: 10px;
    }

    .container-a a {
        font-size: 12px;
    }

    .image-footer {
        /* Center and scale the image nicely */
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 260px;
        opacity: 0.5;
    }
}

@media (min-width: 751px) and (max-width: 767px) {

    /* ---------------------Section1----------------------- */
    .logo-gama {
        width: 60px;
        margin-top: 15px;
        margin-left: 75px;
    }

    .nav-desktop {
        z-index: 2;
        position: relative;
    }

    .nav-desktop a {
        display: inline-block;
        color: #707070;
        float: right;
        margin-top: 10px;
        margin-right: 22px;
    }

    .section1kiri {
        position: relative;
        z-index: 9;
        background: #5CC4E7;
        width: 100%;
    }

    .section1kiri:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 37%;
        bottom: 0;
        left: 0;
        background: #F4F8F7;
    }

    .container-a {
        position: relative;
        z-index: 3;
        margin-top: -50px;
    }

    .divgambar {
        width: 400px;
        height: 300px;
        margin-top: 10px;
        border: 5px solid #F8C470;
        position: relative;
        z-index: 5;
        margin-left: 20px;
    }

    .divgambar .wadahgambarsection1 {
        width: 350px;
    }

    .divgambar .gambarsection1 {
        width: 300px;
        height: 280px;
    }

    .divtulisan {
        margin-left: 150px;
        width: 187px;
        margin-top: -200px;
        position: absolute;
        z-index: 6;
    }

    .section1h1 {
        font-size: 30px;
    }

    .section1p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
    }

    .section1p2 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
        float: right;
        margin-right: 20px;
    }

    .bungkussection1baten {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .section1baten {
        background-color: transparent;
        width: 80px;
        height: 30px;
        text-align: center;
        margin: 4px 2px;
        border-radius: 16px;
        color: #707070;
        border: 1.5px solid #F8C470;
        float: right;
        font-size: 10px;
    }

    .section1batenkanan {
        margin-right: 30px;
    }

    .downdirection {
        float: right;
        width: 20px;
        margin-right: 50px;
        margin-top: 20px;
    }

    /* ---------------------End Section1----------------------- */

    .logo-gama {
        margin-left: 30px;
        width: 60px;
    }
}

@media (min-width: 481px) and (max-width: 750px) {

    /* ---------------------Section1----------------------- */
    .section1kiri {
        position: relative;
        z-index: 9;
        background: #5CC4E7;
        width: 100%;
    }

    .section1kiri:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 37%;
        bottom: 0;
        left: 0;
        background: #F4F8F7;
    }

    .container-a {
        position: relative;
        z-index: 3;
        margin-top: -50px;
    }

    .divgambar {
        width: 200px;
        height: 150px;
        margin-top: 10px;
        border: 5px solid #F8C470;
        position: relative;
        z-index: 5;
        margin-left: 20px;
    }

    .divgambar .wadahgambarsection1 {
        width: 150px;
    }

    .divgambar .gambarsection1 {
        width: 150px;
        height: 80px;
    }

    .divtulisan {
        margin-left: 150px;
        width: 187px;
        margin-top: -200px;
        position: absolute;
        z-index: 6;
    }

    .section1h1 {
        font-size: 30px;
    }

    .section1p1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
    }

    .section1p2 {
        font-size: 16px;
        font-weight: bold;
        margin-top: -15px;
        float: right;
        margin-right: 20px;
    }

    .bungkussection1baten {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }

    .section1baten {
        background-color: transparent;
        width: 80px;
        height: 30px;
        text-align: center;
        margin: 4px 2px;
        border-radius: 16px;
        color: #707070;
        border: 1.5px solid #F8C470;
        float: right;
        font-size: 10px;
    }

    .section1batenkanan {
        margin-right: 30px;
    }

    .downdirection {
        float: right;
        width: 20px;
        margin-right: 50px;
        margin-top: 20px;
    }

    /* ---------------------End Section1----------------------- */
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .logo-mobile {
        width: 48px;
        height: 36px;
        margin-left: 10px;
    }

    .image-footer {
        /* Center and scale the image nicely */
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        opacity: 0.5;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .logo-mobile {
        width: 42px;
        height: 30px;
        margin-left: 10px;
    }

    .image-footer {
        /* Center and scale the image nicely */
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        opacity: 0.5;
    }
}


@media (min-width: 751px) {
    .nav-mobile {
        display: none;
    }

    .logo-mobile {
        display: none;
    }
}

@media (max-width: 750px) {
    .nav-desktop {
        display: none;
    }

    /* Place the navbar at the bottom of the page, and make it stick */
    .nav-mobile .navbar {
        background-color: white;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        height: 55px;
    }

    /* Style the links inside the navigation bar */
    .navbar p {
        float: left;
        display: block;
        color: #707070;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        padding-top: 17px;
    }

    .nav-mobile i {
        position: absolute;
        margin-left: 8px;
    }

    .logo-mobile {
        margin-top: 15px;
        margin-left: 20px;
        position: absolute;
        z-index: 5;
    }
}
